Builds/*
!Builds/MacOSX_CI
!Builds/VisualStudio2022_CI
!Builds/LinuxMakefile_CI
Resources/**
z3constraints.smt2
z3log.txt
z3model.txt
z3test.smt2
z3CAC*
msolvesteadylog.txt
*.ms
steady*
PAC_list.txt
concentrationDynamic.csv
Resources/generated.ens
Resources/z3constraints.smt2
*autosave
Builds/VisualStudio2022_CI/EmergenceNS_App.vcxproj
Builds/VisualStudio2022_CI/EmergenceNS_App.vcxproj.filters
ReactionSystems/z3CACmodel.txt
ReactionSystems/z3CAC.smt2
ReactionSystems/steadyConstraints.smt2
ReactionSystems/*.ms
ReactionSystems/msolvesteadylog.txt
ReactionSystems/concentrationDynamic.csv
Builds/LinuxMakefile_CI/Makefile
Builds/VisualStudio2022_CI/EmergenceNS_App.vcxproj
Builds/VisualStudio2022_CI/EmergenceNS_App.vcxproj.filters
Builds/MacOSX_CI/EmergenceNS.xcodeproj/project.pbxproj
ReactionSystems/dummy.txt
